# Byte-compiled / optimized / DLL files
__pycache__
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints/
.ipynb_checkpoints
*.ipynb


# IPython
profile_default/
ipython_config.py


# logs
*.log
log
*.ckpt
DKT_Sequential/
graph/lightning_logs/
sequential/lightning_logs/


# MacOS
.DS_Store


# For somebody who try to upload key file.. :)
key


# environment
*.env


# output
/graph/outputs
/graph/wandb
/tabular/output
/tabular/outputs
/tabular/wandb
/sequential/outputs
/sequential/output
/sequential/wandb


#vscode
/.vscode


# Dataset
*.csv
*.npy
/sequential/assets/